.Slide{
    margin: 1em;
    padding: 1em;
    width: calc(100% - 2em);
}
    .SlideTitle{
        width: 100%;
        text-align: center;
    }
    /* .Slider{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
        margin: 1em;
        padding: 1em;
        width: calc(100% - 2em);
    } */
        /* .SliderButton{
            margin: 1em;
            padding: 1em;
            min-width: 25px;
            min-height: 25px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center
        }
        .SliderButton>span{
            font-size: 3em;
        } */
        .SliderScroll{
            flex-grow: 1;
            overflow: auto;
            display: flex;
            margin: 1em;
            padding: 1em;
            width: calc(100% - 2em);
        }

/* .Slide{
    display: flex;
    flex-direction: column;
}
.Slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}
.Scroll{
    display: flex;
    width: 200px;
    overflow: hidden;
}
.Item{
    display: flex;
    flex-direction: column;
    width: 50px;
}
.Item>button,.Item>p{
    display: flex;
    width: 50px;
} */