.Slide{
    display: flex;
    flex-direction: column;
}
.Slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}
.Scroll{
    display: flex;
    width: 200px;
    overflow: hidden;
}
.Item{
    display: flex;
    flex-direction: column;
    width: 50px;
}
.Item>button,.Item>p{
    display: flex;
    width: 50px;
}