.Slide{
    margin: 0.25em;
    padding: 0.25em;
    width: 100%;
}
.Slider{
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 0.25em;
    padding: 0.25em;
    width: calc(100% - 0.5em);
}
.SliderButton{
    min-width: 100px;
    margin: 0.25em;
    padding: 0.25em;
}
.SliderScroll{
    flex-grow: 1;
    border: solid 1px black;
    overflow: auto;
    display: flex;
    margin: 0.25em;
    padding: 0.25em;
    max-width: calc(100% - 200px - 1em - 0.5em);
}
/* .Slide{
    display: flex;
    flex-direction: column;
}
.Slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}
.Scroll{
    display: flex;
    width: 200px;
    overflow: hidden;
}
.Item{
    display: flex;
    flex-direction: column;
    width: 50px;
}
.Item>button,.Item>p{
    display: flex;
    width: 50px;
} */