.Card{
    min-width: 96px;
    min-height: 96px;
    max-width: 96px;
    max-height: 96px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
    margin: 0.25em;
}

.PainelCardImage{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-width: 96px;
    min-height: 96px;
    max-width: 96px;
    max-height: 96px;
    width: 100%;
    height: 100%;
}

/* .Card{
    min-width: calc(25% - 2em);
    max-width: calc(25% - 2em);
    min-height: 96px;
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: #f63e02;
} */

/* .PainelCardImage{
    max-width: 96px;
    width: 100%;
    margin: 0.25em;
    background-color: #fff9fb;
}

.PainelCardTitle{
    display: block;
    font-size: 0.5em;
    width: 100%;
    padding: 0.25em 0.5em;
    margin: 0.25em;
    text-align: center;
    margin: 0.25em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-family: "Space Mono Bold";
}

.PainelCardTypes{
    font-size: 0.5em;
    padding: 0.25em 0.5em;
    margin: 0.25em;
    color: #080f0f;
    background-color: #fff9fb;
    font-family: "Space Mono Bold";
    letter-spacing: 0.1em;
    width: 100%;
}

.PainelCardLink{
    font-size: 0.5em;
    width: 100%;
    text-decoration: none;
    border: none;
    outline: none;
    color: #080f0f;
    padding: 0.5em;
    margin: 0.25em;
    background-color: #fff9fb;
    font-family: "Space Mono Bold";
    letter-spacing: 0.1em;
    text-align: center;
}

.PainelLink:hover{
    color: #fff9fb;
    background-color: #080f0f;
} */